interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2021-07-09T07:31:45Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"eventHubEndpoints": {"events": {"retentionTimeInDays":
      1, "partitionCount": 4}}, "storageEndpoints": {"$default": {"sasTtlAsIso8601":
      "PT1H", "connectionString": "", "containerName": ""}}, "messagingEndpoints":
      {"fileNotifications": {"ttlAsIso8601": "PT1H", "maxDeliveryCount": 10}}, "enableFileUploadNotifications":
      false, "cloudToDevice": {"maxDeliveryCount": 10, "defaultTtlAsIso8601": "PT1H",
      "feedback": {"lockDurationAsIso8601": "PT5S", "ttlAsIso8601": "PT1H", "maxDeliveryCount":
      10}}}, "sku": {"name": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003?api-version=2021-03-31
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003","name":"iot000003","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","resourcegroup":"clitest.rg000001","properties":{"state":"Activating","provisioningState":"Accepted","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":4}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfMTFjNDNjOWItYWE3OS00NzU0LTg0YjItNjk5OGU2MWMxMmMw?api-version=2021-03-31&operationSource=os_ih&asyncinfo
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfMTFjNDNjOWItYWE3OS00NzU0LTg0YjItNjk5OGU2MWMxMmMw?api-version=2021-03-31&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003?api-version=2021-03-31
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003","name":"iot000003","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","resourcegroup":"clitest.rg000001","etag":"AAAADFKjhF4=","properties":{"locations":[{"location":"West
        US","role":"primary"},{"location":"East US","role":"secondary"}],"state":"Active","provisioningState":"Succeeded","ipFilterRules":[],"hostName":"iot000003.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"iot000003","endpoint":"sb://iothub-ns-iotfnjh2ld-13340533-d43901444a.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[]},"routes":[],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1},"identity":{"type":"None"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "dps000002"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/checkProvisioningServiceNameAvailability?api-version=2018-01-22
  response:
    body:
      string: '{"nameAvailable":true,"reason":"Invalid","message":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "tags": {"key1": "value1", "key2": "value2"}, "properties":
      {}, "sku": {"name": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002?api-version=2018-01-22
  response:
    body:
      string: '{"name":"dps000002","location":"westus","properties":{"state":"Activating","provisioningState":"Accepted","allocationPolicy":"Hashed","idScope":null},"resourcegroup":"clitest.rg000001","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002","subscriptionid":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","tags":{"key1":"value1","key2":"value2"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfMWEwNmU5N2ItNjUzNS00ZjQ1LThiYzAtYWFkNGZhOGZiZTk2?api-version=2018-01-22&asyncinfo
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfMWEwNmU5N2ItNjUzNS00ZjQ1LThiYzAtYWFkNGZhOGZiZTk2?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002?api-version=2018-01-22
  response:
    body:
      string: '{"etag":"AAAAAAoPzXA=","name":"dps000002","location":"westus","properties":{"state":"Active","provisioningState":"Succeeded","iotHubs":[],"allocationPolicy":"Hashed","serviceOperationsHostName":"dps000002.azure-devices-provisioning.net","deviceProvisioningHostName":"global.azure-devices-provisioning.net","idScope":"0ne0032E864"},"resourcegroup":"clitest.rg000001","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002","subscriptionid":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","tags":{"key1":"value1","key2":"value2"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices?api-version=2018-01-22
  response:
    body:
      string: '{"value":[{"etag":"AAAAAAoPzXA=","name":"dps000002","location":"westus","properties":{"state":"Active","provisioningState":"Succeeded","iotHubs":[],"allocationPolicy":"Hashed","serviceOperationsHostName":"dps000002.azure-devices-provisioning.net","deviceProvisioningHostName":"global.azure-devices-provisioning.net","idScope":"0ne0032E864"},"resourcegroup":"clitest.rg000001","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002","subscriptionid":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","tags":{"key1":"value1","key2":"value2"},"sku":{"name":"S1","tier":"Standard","capacity":1}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "tags": {"key3": "value3"}, "etag": "AAAAAAoPzXA=",
      "properties": {"state": "Active", "provisioningState": "Succeeded", "iotHubs":
      [], "allocationPolicy": "GeoLatency"}, "sku": {"name": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002?api-version=2018-01-22
  r[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfOWJlMWFjODItMDZhOC00YjQxLWI1MWItNDkwOTRlMjEyY2Nj?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfOWMzYjg4ZGUtOGMzMi00MTRiLWE0OGItNzZhM2I2NDQ2MmUw?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/listkeys?api-version=2018-01-22
  response:
    body:
      string: '{"value":[{"keyName":"provisioningserviceowner","primaryKey":"+hj7rYixdQ4WwMsz11b5sgKjFE8mqDFLIAGDNkt1RcQ=","secondaryKey":"tUM3rZXUHje5z465olxnQvaA7tMnLYEZbOSLHuGXLrM=","rights":"ServiceConfig,
        DeviceConnect, EnrollmentWrite"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"iotHubs": [], "allocationPolicy":
      "GeoLatency", "authorizationPolicies": [{"keyName": "provisioningserviceowner",
      "primaryKey": "+hj7rYixdQ4WwMsz11b5sgKjFE8mqDFLIAGDNkt1RcQ=", "secondaryKey":
      "tUM3rZXUHje5z465olxnQvaA7tMnLYEZbOSLHuGXLrM=", "rights": "ServiceConfig, DeviceConnect,
      EnrollmentWrite"}, {"keyName": "policy000004", "rights": "EnrollmentRead"}]},
      "sku": {"name": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfMGJiNTJhMWUtYzY4ZS00YzViLTk2NzYtYTUwZDRkOGE2NWY5?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/keys/policy000004/listkeys?api-version=2018-01-22
  response:
    body:
      string: '{"keyName":"policy000004","primaryKey":"5BeGVFZBQtiulhSLKC3Hik/6wfJDrw2fMoZp3UXomFY=","secondaryKey":"/juRYzaYYIGW7KiTwXpCfjFc/seDDGW5a79wcprjHjg=","rights":"EnrollmentRead"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfOGQwMzgwNTktNTNkMS00YmY4LTgzOTMtODM3N2I2MjVhYjVi?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfM2Y0NzYxZGEtNzY2ZC00YmUyLWE2OTktNjE5OWY2NGY4MmUz?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates?api-version=2018-01-22
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"certificate": "-----BEGIN CERTIFICATE-----\r\nMIIDHTCCAgWgAwIBAgIIStdewJwuZ8EwDQYJKoZIhvcNAQELBQAwIzEhMB8GA1UE\r\nAwwYVEVTVENFUlRvY3F6emhqa3RpMm5iYm00MB4XDTIxMDcwODA3NDIyNloXDTIx\r\nMDcxMjA3NDIyNlowIzEhMB8GA1UEAwwYVEVTVENFUlRvY3F6emhqa3RpMm5iYm00\r\nMIIBITANBgkqhkiG9w0BAQEFAAOCAQ4AMIIBCQKCAQA1TmMLOKpZSYf+seyjon+J\r\ntR5QvwpP4FP0u/3jy6ZEYZNR405U4GvIF7Tlse89RJk/1ym201zetfp+IPg58/PC\r\nXZJ1nfGUwt12a/v7FbaY2iWDEVl/wQ/PmmcUuKZhNT6iNHheJM0QSQRpCI9pJtjC\r\ngj+WZQkS2yGwQ8UGWm8CQf9Y3ESz0idhTU3CuTcEBcdcUIQ6TQ9FMM+/kKD[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates?api-version=2018-01-22
  response:
    body:
      string: '{"value":[{"properties":{"subject":"TESTCERT000006","expiry":"Mon,
        12 Jul 2021 07:42:26 GMT","thumbprint":"6B425582DE38EF9AEE331BEB53384BC8092D0CCE","isVerified":false,"created":"Fri,
        09 Jul 2021 07:43:54 GMT","updated":"Fri, 09 Jul 2021 07:43:54 GMT","certificate":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000005","name":"certificate000005","type":"Microsoft.Devices/provisioningServices/Certificates","etag":"AAAAAAoP0IU="}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"certificate": "-----BEGIN CERTIFICATE-----\r\nMIIDHTCCAgWgAwIBAgIIStdewJwuZ8EwDQYJKoZIhvcNAQELBQAwIzEhMB8GA1UE\r\nAwwYVEVTVENFUlRvY3F6emhqa3RpMm5iYm00MB4XDTIxMDcwODA3NDIyNloXDTIx\r\nMDcxMjA3NDIyNlowIzEhMB8GA1UEAwwYVEVTVENFUlRvY3F6emhqa3RpMm5iYm00\r\nMIIBITANBgkqhkiG9w0BAQEFAAOCAQ4AMIIBCQKCAQA1TmMLOKpZSYf+seyjon+J\r\ntR5QvwpP4FP0u/3jy6ZEYZNR405U4GvIF7Tlse89RJk/1ym201zetfp+IPg58/PC\r\nXZJ1nfGUwt12a/v7FbaY2iWDEVl/wQ/PmmcUuKZhNT6iNHheJM0QSQRpCI9pJtjC\r\ngj+WZQkS2yGwQ8UGWm8CQf9Y3ESz0idhTU3CuTcEBcdcUIQ6TQ9FMM+/kKDwEnQP\r\nmd9UzlnjAkyjymRe+Zi0d+XiCd5LgTY7MRIqIdevb+qXHBjrZHuwAC00KU63Z+v4\r\n5WwJoKFMYk3gX2qPL0D6dDb86fj2dui+2XJvwWQlrIg+DfP5XoiP3VlMKMAstOCl\r\nAgMBAAGjVjBUMBIGA1UdEwEB/wQIMAYBAf8CAQEwHQYDVR0OBBYEFNo5o+5ea0sN\r\nMlW/75VgGJCv2AcJMB8GA1UdIwQYMBaAFNo5o+5ea0sNMlW/75VgGJCv2AcJMA0G\r\nCSqGSIb3DQEBCwUAA4IBAQAEPMnNebDzq/YDwwp66770cMXh4LjyoW7Fraf63Vz8\r\nxBlsF0J0GCmAYjJneCzyenIww47wp1B95Tno5M5ulfSdsnl2614rfw2PPpSFDTLr\r\nCPH29D/LA15u/CfHrXJpuJZx+VMBJIDOLW7xkII7ZdD1cXwFBGRCyfzl911N/+nn\r\n8nEjbr+ElHAA9n54ntvd8nF/3pji4Vp9J4yL1ECwSnpTaCjptiuGCAZcfwvxyzqk\r\nIoklYmlWqg6F/o0Lcr4LqKBym3bmVpaYXOO1eLBvxC1KLhGmSBRK2MdSuF+ZgQOx\r\nySJlvDnSd7M8Z+v3MdBSAOHt73i2bkL8FzrxrKe2A89n\r\n-----END
      CERTIFICATE-----\r\n"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - AAAAAAoP0IU=
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000005?api-version=2018-01-22
  response:
    body:
      string: '{"properties":{"subject":"TESTCERT000006","expiry":"Mon, 12 Jul 2021
        07:42:26 GMT","thumbprint":"6B425582DE38EF9AEE331BEB53384BC8092D0CCE","isVerified":false,"created":"Fri,
        09 Jul 2021 07:43:54 GMT","updated":"Fri, 09 Jul 2021 07:44:02 GMT","certificate":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000005","name":"certificate000005","type":"Microsoft.Devices/provisioningServices/Certificates","etag":"AAAAAAoP0Jc="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - AAAAAAoP0Jc=
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000005/generateVerificationCode?api-version=2018-01-22
  response:
    body:
      string: '{"properties":{"verificationCode":"C8498AAB4776FD071268470310C210A0C0ADAFA8A532E010","subject":"TESTCERT000006","expiry":"Mon,
        12 Jul 2021 07:42:26 GMT","thumbprint":"6B425582DE38EF9AEE331BEB53384BC8092D0CCE","isVerified":false,"created":"Fri,
        09 Jul 2021 07:43:54 GMT","updated":"Fri, 09 Jul 2021 07:44:04 GMT","certificate":"MIIDHTCCAgWgAwIBAgIIStdewJwuZ8EwDQYJKoZIhvcNAQELBQAwIzEhMB8GA1UEAwwYVEVTVENFUlRvY3F6emhqa3RpMm5iYm00MB4XDTIxMDcwODA3NDIyNloXDTIxMDcxMjA3NDIyNlowIzEhMB8GA1UEAwwYVEVTVENFUlRvY3F6emhqa3RpMm5iYm0[...]
- request:
    body: '{"certificate": "-----BEGIN CERTIFICATE-----\r\nMIIDAjCCAeqgAwIBAgIIeBAMp/cDslQwDQYJKoZIhvcNAQELBQAwIzEhMB8GA1UE\r\nAwwYVEVTVENFUlRvY3F6emhqa3RpMm5iYm00MB4XDTIxMDcwODA3NDIzOFoXDTIx\r\nMDcxMjA3NDIzOFowOzE5MDcGA1UEAwwwQzg0OThBQUI0Nzc2RkQwNzEyNjg0NzAz\r\nMTBDMjEwQTBDMEFEQUZBOEE1MzJFMDEwMIIBITANBgkqhkiG9w0BAQEFAAOCAQ4A\r\nMIIBCQKCAQAxB6KGd308lPI9uHBabQCvY+HuL7QXL+Wvz3rk2agE78ZrMnaO4rMX\r\nbstmlnsfIea8TEvIlDQmUiyaBzGRdXs7Orh/fyRUvo/c/9IMCHePs9qVKPP9+swn\r\nTpkrz9IpD6l+aYUs9MZkl3[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/IotHubs?api-version=2021-03-31
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgpyin63vkm4lx3bn2q7yxsvyp2ky5ld6neu64de2aoll5t75vt4dv7adtaxajd7v32/providers/Microsoft.Devices/IotHubs/iotp6edi5ycvynk2vm2a","name":"iotp6edi5ycvynk2vm2a","type":"Micr[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003/listkeys?api-version=2021-03-31
  response:
    body:
      string: '{"value":[{"keyName":"iothubowner","primaryKey":"0km62foQPrX1jJZ+AlU+d7f2pO8wFx2CQItq9uLUgQ0=","secondaryKey":"+99Y7vc8ApDK2MPZoRfg9881iWOGvx6q5ISfwtLlkgQ=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"2G9Ty9xW2lWkrN+mLNxRu+dz7IKye16vIP93vmsly34=","secondaryKey":"mHCcHQgr/FLKiZCQR3ZROfxe9colw8BScjqOmr+G30I=","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"FlyUN2WaC34aH1rkEFpyJ4VTgMQkKzkQJSlDsY0UUPQ=","secondaryKey":"yh/2V/bjRnP055L8rq/MyaLFuqY23xL3xZC9gfPUgHU=","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"1tIdugJ8EghB5wWOls4f0O0Ls00fhEt/1SGQB+mnoMs=","secondaryKey":"XIxvssvZQdCm8UWVcDQpfBED665mk2CInFx4WoXxpKs=","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"wrVX01g0KK5NQ90ixDuAZdxXIs2S1ZwinP59YEpEApg=","secondaryKey":"hO/SFBWanZIDea+lMmZRHSsS4HwLRETyhG5+tk/WNJs=","rights":"RegistryWrite"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfMTgwY2NkYzctNzcyMi00ZDI2LTg4MzItZjY0NjgwMzBiMmVi?api-version=2021-03-31&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003/IotHubKeys/iothubowner/listkeys?api-version=2021-03-31
  response:
    body:
      string: '{"keyName":"iothubowner","primaryKey":"0km62foQPrX1jJZ+AlU+d7f2pO8wFx2CQItq9uLUgQ0=","secondaryKey":"+99Y7vc8ApDK2MPZoRfg9881iWOGvx6q5ISfwtLlkgQ=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfZTUyNTY3YjMtOWU5MC00NjVjLTg2MTktNGNlNTJjYjA3YWQy?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"iotHubs": [{"applyAllocationPolicy":
      true, "allocationWeight": 10, "connectionString": "HostName=iot000003.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=****",
      "location": "westus"}], "allocationPolicy": "GeoLatency"}, "sku": {"name": "S1",
      "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002?api[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfY2VmOGYxNDgtZjJiMi00MTU2LWI0ZTQtNDYzZWRmOTE5ZDdh?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfNzdmZDdlYmMtNjEzNS00MzQ3LTk2MWUtOGQ1MzVjODg0YzZi?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfMjRkYzI4MWUtYjI3My00ZGYwLTgxNmYtY2EyMzAzZTgwOWIy?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
